@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Dark Mode (Default) */
  --bg-color: #06142e;
  --text-color: #f8fafc;
  --text-secondary: #94a3b8;
}

.light {
  /* Light Mode */
  --bg-color: #e5e7eb;
  --text-color: #0f172a;
  --text-secondary: #64748b;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}


.bg_globalColor {
    background: linear-gradient(135deg, #04274e, #ac0582);
    border-color: rgba(240, 171, 252, 0.4);
}

.bg_globalColor:hover {
    background: linear-gradient(35deg,#021225, #be0d92);
} 

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}